/* Common setup */
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

/* Common element */
a
{
   text-decoration: none;
}

li
{
   list-style: none;
}


/* Common classes */
.container
 {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    /* border: 2px solid black; */
 }

body
 {
   background-color: #D0F7FF;
 }
/* nav-bar and banner combined section */
/* nav
 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
 } */

 .banner-content
   {
      padding: 200px 50px 100px 100px;
   }
 .banner-content h1,h2
   {
      margin-bottom: 10px;
   }
 .banner-content p
   {
      margin-bottom: 20px;
   } 
 .banner-content span
   {
      color: #4590D6;
   }  
 .anch
   {
      background-color: #4590D6;
      padding: 10px 20px;
      color: white;
   }
.logo
  {
     margin-left: 120px;
  } 
.nav-list
 {
    display: flex;
 } 

.nav-list li
 {
    padding-right: 20px;
    padding-left: 30px;
 } 

.nav-list li a
  {
    color: white;
  } 
.active
  {
     color: red;
  }  

.nav-list li a img
  {
     background-color: white;
     border-radius: 50%;
  }  

  .hero-section
    {
       display: flex;
       width: 100%;
       height: 100vh;
    }

  .left-side 
    {
         background-color: #0C163C;
         color: white;
         width: 50%;
         display: flex;
         flex-direction: column;
    }

  .right-side 
    {
         width: 50%;
         /* display: flex; */
         /* align-items: center;
         justify-content: center; */
         /* background-color: white; or transparent */
         background-image: url('../FigmaImages/HeaderImg.png');
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         min-height: 100vh;
    }  


  /* .banner
    {
       display: flex;
    } */

  /* .banner-img
     {
        /* background-image: url("../FigmaImages/HeaderImg.png"); */
        /* height: 90vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; */
        /* display: flex; */
        /* justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6); */
        
        /* width: 50%;
     }  */

    /* .banner-content
      {
         background-color: #0C163C;
         width: 50%;
         
      }  */

     /* Collection */

     .outer
       {
          height: 1462px;
       }

     .section_padding
       {
          padding-top: 66px;
          padding-bottom: 80px;
       }

      .collection
        {
           background-color: #D0F7FF;
        } 

      .collectionpart
        {
          display: flex;
          justify-content: space-between;
        }  

      .collectioncontent
        {
           width: 50%;
           margin-top: 105px;
        } 
       .para 
         {
            color: #0C163C;
         }
       .mb 
        {
           color: #0C163C;
        } 
      .sp
       {
          color: #4590D6;
          
       } 

      .para
        {
           font-size: 40px;
        } 

      .collectionimg
        {
           width: 50%;
           position: relative;
        }  

      .imgs 
        {
           width: 237px;
           height: 438px; 
        } 

      #img1
       {
          width: 30%;
          position: absolute;
          top: 35%;
          left: 0;
          z-index: 3;
       }  

      #img2
       {
          width: 50%;
          position: absolute;
          top: 20%;
          left: 20%;
          z-index: 2;
          /* border: 5px solid white; */
       } 

      #img3
       {
          width: 70%;
          position: absolute;
          top: 0;
          left: 25%;
          z-index: 1;
       }  

      .mb
       {
          margin-bottom: 20px;
       } 

      .collectioncontent a
         {
            background-color: #4590D6;
            color: white;
            padding: 10px;
         }

      /* About us */

      .Aboutus
        {
           background-color: #D0F7FF;
        }

      .aimg2
        {
           position: relative;
           top: 295px;
           right: 235px;
        }  

      .section_padding_about 
        {
           margin-top: 152px;
           margin-bottom: 77px;
           background-color: #D0F7FF;
        }

      .aboutcontent
        {
           display: inline-block;
           width: 382px;
           height: 694px;
           position: relative;
           left: 250px;
           bottom: 280px;
           background-color: #0C163C;
           padding: 20px 30px 40px 20px;
        }  

      .bl
       {
          color: #4590D6;
       } 
       
      .clr
        {
          color: white;
        }

      .hmb
       {
          margin-bottom: 40px;
       }

      .fpmb
        {
          margin-bottom: 30px;
        } 

        .btn
          {
             background-color: #4590D6;
             padding: 10px 30px;
          }  

        .aboutmorecontent
          {
             position: relative;
             bottom: 930px;
             left: 650px;
          }  

        .smc
          {
             color: #4590D6;
          }
          
         .somemorecontent
           {
             position: relative;
             bottom: 900px;
             left: 700px;
   
           } 

         .smmb
           {
             margin-bottom: 10px;
           }  

         .mr 
          {
             color: #000000;
          } 

           /* choice section */
            
           .choice
             {
                display: flex;
                /* width: 1520px; */
                
             }

           .choicecontent
              {
                 background-color: #0C163C;
                 width: 90%;
                 padding: 200px 50px 50px 30px;
              }

           .chs
             {
                color: #4590D6;
             } 
             
           .choicecontent h1
             {
                font-size: 40px;
                margin-bottom: 20px;
             } 

           .chc
            {
               color: white;
            }  
              
          .choicecontent p
            {
               margin-bottom: 30px;
            } 

            /* News Part */
            /* .news
              {
                 height: 1442px;
              } */
            .Nsp
             {
                color: #4590D6;
             }
            .Nhead 
             {
               text-align: center;
               margin-bottom: 10px;
             }
            .Npara 
             {
                text-align: center;
                margin-bottom: 40px;
                color: #000000;
             }
            .Nimg1
              {
                position: relative;
              }
            .iicon1
              {
                 position: absolute;
                 bottom: 90px;
                 left: 30px;
                 color: white;
              }
            .Nimg2
              {
                position: relative;
                left: 620px;
                bottom: 375px;
              }
            .iicon2
              {
                 position: absolute;
                 bottom: 90px;
                 left: 30px;
                 color: white;
              }
            .Nimg3
              {
                 position: relative;
                 bottom: 360px;
              }
            .iicon3  
              {
                 position: absolute;
                 bottom: 90px;
                 left: 30px;
                 color: white;
              }
            .Nimg4
              {
                 position: relative;
                 left: 620px;
                 bottom: 720px;
              }
            .iicon4
              {
                 position: absolute;
                 bottom: 90px;
                 left: 30px;
                 color: white;
              } 
            .Nimg5  
              {
                 position: relative;
                 left: 920px;
                 bottom: 1085px;
              }
            .iicon5
              {
                 position: absolute;
                 bottom: 90px;
                 left: 30px;
                 color: white;
              } 
            .Nh
             {
                margin-bottom: 10px;
             }
            .Np 
             {
                margin-bottom: 20px;
             }
            .Na 
             {
                color: white;
                background-color: #4590D6;
                padding: 10px 20px;
             }     
            .section_padding_news
              {
                 padding-top: 51px;
                 /* padding-bottom: 94px; */
              } 
              
            /* Subscription Part */
              
              .sub-img
                {
                   position: relative;
                  bottom: 1000px;  
                }

              .si
               {
                  width: 100%;
               } 
               
              .sub-content 
                {
                  position: absolute;
                  bottom: 150px;
                  left: 400px;
                  background-color: #FFFBFB;
                  padding: 70px 150px;
                }

              .sub-content h2,h4 
                {
                   margin-bottom: 10px;
                }

            .sub-content input[type="email"]
                {
                   margin-bottom: 10px;
                   width: 70%;
                }
           input[type="submit"] 
                {
                   background-color: #4590D6;
                   padding: 5px 10px;
                   color: white;
                } 
                
              .sub-content h2 
                {
                   margin-left: 50px;
                } 
 
              .sub-list li 
                {
                   display: inline-block;
                   margin-right: 20px; 
                }  

               .fi
                {
                   margin-left: 600px;
                } 

               .sub-list 
                 {
                    position: relative;
                    bottom: 1050px;
                    /* border: 2px solid black; */
                    padding: 30px 0;
                    background-color: #FFFFFF;
                    
                 }

               .caml  
                 {
                    color: black;
                 }
               /* Footer-section */
               .company-details
                 {
                    background-color: #0C163C;
                    border: 4px solid white;
                    position: relative;
                    bottom: 1050px;
                 }  
               .contact 
                 {
                    display: flex;
                    justify-content: space-evenly;                  
                 } 
               .contact-info h5,p 
                 {
                    color: white;
                 }
               .contact-info h5
                 {
                    margin-bottom: 20px;
                 }  
               .contact-info P 
                 {
                    margin-bottom: 40px;
                 } 
               .cii 
                 {
                    position: relative;
                    bottom: 20px;
                 } 
               .Help-Section h5 
                 {
                    color: white;
                    margin-bottom: 20px;
                 }
               .hul li
                 {
                   list-style: none;
                   border-bottom: 2px solid white;
                 }
               .hul li a
                 {
                   color: white;
                 }    
               .Rul li
                 {
                    list-style: none;
                    border-bottom: 2px solid white;
                 }
               .Rul li a 
                 {
                    color: white;
                 } 
               .Resources h5
                 {
                    color: white;
                    margin-bottom: 20px;
                 }
               .further-contact h5
                 {
                    color: white;
                    margin-bottom: 20px;
                 }
               .fie
                {
                   width: 60%;
                   padding: 10px 0 10px 10px;
                }

               